server {
    listen ${PORT};
    root /usr/share/nginx/html;
    index index.html;

    resolver 8.8.8.8 valid=30s;

    location / {
        try_files $uri $uri/ /index.html;
    }

    location /api/ {
        set $admin_upstream ${ADMIN_UPSTREAM};
        proxy_pass $admin_upstream;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
